* {margin:0; padding:0; color:#000;}
body {background: #F5F5F5;}
/*CSS RESET*/

/*Header and logo*/

header {

	width: 100%;
	position: fixed;
	background: #3D3D3D;
	box-shadow: -1px 2px 3px #000;
	z-index: 3;

}

#logo {

	max-height: 80px;
	margin-top: 8px;
	left: 50%;
	margin-left: -401px;
	position: absolute;
	z-index: 4;
	font-family: sans-serif;

}

#logo h1 {color: #EDEDED; text-shadow: 1px 2px 1px #000;}

.salt p{

	margin-top: -18px;
	margin-left: 16px;
	font-family: monospace;
	font-size: 34px;
	color: #EDEDED;

}

.acolor {
	color: #FFC35B;
}

/*Header Menu*/

nav#topmenu ul {

	left: 50%;
	margin-left: 179px;
	margin-top:22px;
	padding:0;
	position:absolute;
	z-index: 6;
	
}

nav#topmenu ul li {
	display: inline;
}

nav#topmenu ul li a{

	padding:8px 10px;
	font-size:16px;
	text-decoration: none;
	color: #EDEDED;
	font-family: monospace;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	float: left;
	outline: none;
}

nav#topmenu ul li a:hover {

	color: #FFC35B;
	margin-top: -3px;
}

header.large {
	height:80px;
}

header.small {
	height:50px;
}

header.small #topmenu ul{
	margin-top:10px;
}

header.small #logo {
	font-size: 8px;
}

header.small .salt p {
	font-size: 14px;
	margin-top: -7px;
}

header, nav, .salt p, #logo, #topmenu ul {
	transition:all 300ms;
	-moz-transition:all 300ms;
	-webskit-transition:all 300ms;
	-o-transition:all 300ms;
}

/*Section*/

section {

	width: 100%;
	height: 1300px;
	margin-top: 80px;
	float:left;
	background: #F5F5F5;

}

#box1 {

	width: 800px;
	height: 470px;
	margin-top: 30px;
	left: 50%;
	margin-left: -400px;
	position: absolute;
	z-index: 2;
	float:left;
	background: #000;
	box-shadow:0px 0px 6px #000;
	border:solid 1px #FFC35B;


	
}


#box2 {
	
	width: 800px;
	height: 470px;
	left: 50%;
	margin-left: -400px;
	position: absolute;
	margin-top: 580px;
	background:#CFCFCF;
	float:left;
	
}

.hed {

	width: 800px;
	height:40px;
	background: #000;
}

.hed p{

	font-family: Arial;
	font-size:23px;
	color: #fff;
	float:left;
	padding-right: 160px;
	margin-left: 23px;
	margin-top: 5px;
}

.item {
	padding: 10px 10px;
	background:#FFC35B;
	width: 780px;
	margin-bottom: 6px;
	box-shadow: 0px 2px 3px #000;
	font-family: sans-serif;
	display:table;
}

.item p {
	padding-right: 140px;
	margin-left:10px;
	float:left;
}

p.esp {

	margin-left: -40px;
}